body#receita {
    background-color: #F0F0F0;
}

* {
    font-weight: 400;
    box-sizing: border-box;
    font-family: roboto;
}

h1,
h2,
h3 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.box {
    background-color: #FFFFFF;
    width: 100%;
}

#receita {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 10px;
}

.titulo img {
    max-width: 100% !important;
    height: auto;
}

h1#title {
    color: #FF6A28;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    font-family: roboto;
}

h2#subtitulo {
    font-size: 16px;
    font-weight: 400;
    color: #61656D;
    font-family: roboto;
    margin-bottom: 14px;
}

.topo {
    padding-top: 20px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 12px;
    margin-bottom: 37px;
    margin-top: 24px;
}

.topo-linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.ingredientes,
.modo-preparo {

    padding-left: 54px;
    padding-right: 27px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.mini-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 118px;
    width: 100%;
    max-height: 85px;
    height: 85px;
    background-color: #f0f0ef;
    border-radius: 5px;
}

.mini-box-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 238px;
    width: 100% !Important;
    max-height: 85px;
    height: 85px;
    background-color: #f0f0ef;
    border-radius: 5px;
}

.mini-box span {
    display: block;
    text-align: -webkit-center;
    font-size: 14px;
    color: #61656D;
}

.membro-topo-linha.mini-box-login span {
    display: block;
    font-size: 14px;
}

.mini-box-login .nome {
    color: #FF6A28;
}

.mini-box-login .membro {
    color: #61656D;
}

.membro-topo-linha.mini-box-login img {
    margin-right: 11px;
}

.titulo-ingredientes {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

}

.titulo-ingredientes img {

    margin-right: 8px;

}

.titulo-ingredientes h3 {
    font-size: 20px;
    font-weight: 700;
    color: #FF6A28;
    text-transform: uppercase;
}

.ingredientes ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #61656D;
}

.modo-preparo ol li {
    margin-bottom: 20px;
    font-size: 14px;
    color: #61656D;
}

.ingredientes {
    margin-bottom: 18px;
}

.titulo-modo-preparo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.titulo-modo-preparo h3 {
    font-size: 20px;
    font-weight: 700;
    color: #FF6A28;
    text-transform: uppercase;
}

.titulo-modo-preparo img {
    margin-right: 8px;
}

.modo-preparo ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modo-preparo ol li::marker {
    font-size: 20px;
}

.modo-preparo {
    margin-bottom: 16px;
}

.info-add {

    padding-left: 22px;
    padding-right: 33px;
    padding-top: 15px;
    padding-bottom: 21px;
    margin-bottom: 63px;

}

.info-add h3 {
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    color: #61656D;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.info-add p{

    color: #61656D;
    font-size: 14px;

}

.mini-box span span {
    color: #FF6A28;
    font-weight: 700;
    text-transform: uppercase;
}

.mini-box-login span.nome {
    font-weight: 700;
}